.csl-entry {
    padding-left: 36px;
    padding-right: 36px;
    font-family: "Times New Roman";
    font-size: 12pt;
}
div.hanging-indent {
    margin-left: 0px;
}
h1 {
    padding-left: 36px;
    padding-right: 36px;
    font-family: "Calibri";
    font-size: 20pt;
}
